{% extends "base.html" %}

{% block title %}Home | {{ profile.person.name }}{% endblock %}

{% block content %}

<!-- HERO -->
<section class="text-center py-10 md:py-20">
    <h1 class="text-3xl md:text-4xl font-bold">
        {{ profile.person.name }}
    </h1>
    <p class="text-gray-400 mt-3 text-lg max-w-2xl mx-auto">
        {{ profile.header }}
    </p>
</section>

<!-- SUMMARY -->
<section class="py-10 md:py-16 px-6">
    <p class="text-gray-400 text-lg max-w-2xl mx-auto leading-relaxed text-justify whitespace-pre-line">
        {{ profile.summary }}
    </p>
</section>

<!-- SKILLS -->
<section class="mt-15">
    <h1 class="text-2xl font-semibold mb-6">Skills</h1>
    <div class="grid md:grid-cols-2 gap-8">
        {% for expertise in profile.expertise_groups.all %}
        <div class="p-6 bg-gray-900 rounded-xl">
            <h3 class="text-lg font-semibold">{{ expertise.group_name }}</h3>
            <ul class="list-disc list-inside mt-4 text-gray-400">
                {% for skill in expertise.skills.all %}
                <li>{{ skill.name }}</li>
                {% endfor %}
        </div>
        {% endfor %}
    </div>
</section>

<!-- EDUCATION  -->
<section class="mt-20">
    <h1 class="text-2xl font-semibold mb-6">Education</h1>
    <div class="space-y-6">
        {% for education in profile.educations.all %}
         <div class="p-6 bg-gray-900 rounded-xl">
            <h3 class="text-lg font-semibold">{{ education.degree }}</h3>
            {% if education.span %}<span>{{ education.span }}</span>{% endif %}
            <p class="text-gray-400 text-sm mt-2">
                {{ education.institution }} ( {{ education.graduation }} )
            </p>
        </div>
        {% endfor %}
    </div>
</section>

<!-- PROJECTS & EXPERIENCE -->
<section class="text-center mt-20">
    <div class="mt-8 space-x-4">
        <a href="{% url 'projects' %}" class="px-6 py-3 bg-white text-black rounded-lg font-semibold">
            AI Projects
        </a>
        <a href="{% url 'experiences' %}" class="px-6 py-3 bg-white text-black rounded-lg font-semibold">
            Experience
        </a>
    </div>
</section>

{% endblock %}